.condiciones{
    #logo-condiciones{
        height: 150px;
        width: 150px;
    }
    .titulo{
        color:red;
        text-align: center;
    }
    .subtitulo{
        color:gray;
    }
    .negrita{
        font-weight: bold;
    }
    .rojo{
        color:red;
    }
}
