// R: 59, G: 97, B: 55 converts to: #3B6137
// R: 81, G: 135, B: 73 converts to: #518749
// R: 108, G: 169, B: 93 converts to: #6CA95D
$color_fondo: white;
$color-verde-basico: #3B6137;//#00695c;
$color-verde-basico-2: #518749;//81 135 73
$color-verde-basico-3: #6CA95D;//108 169 93
$color-alternated-bloque: #EFEFEF;
$font:'Century Gothic';
$font-size-xs-h5:0.85em;
$font-size-xs-h4:1.05em;
$font-size-xs-h3:1.15em;
$font-size-xs-h2:1.25em;

$icono-size-xs:3em;
$icono-size:5em;

$break-sm: 576px;
$break-large: 1200px;